<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Energy Meter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: sans-serif
        }
    </style>
</head>

<body class="w3-light-grey">
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index: 4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
        <i class="fa fa-bars"></i>  Menu
    </button>
    <span class="w3-bar-item w3-left">Smart Energy Meter</span> <span class="w3-bar-item w3-right"><a
        href="{% url "logout" %}">Sign out</a></span>
</div>
<!-- Sidebar/menu -->
{% include 'consumer/sidebar.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left: 300px; margin-top: 43px;">
    {% block content %}
        <!-- Header -->
        <header class="w3-container" style="padding-top: 30px">
            <h5>
                <b><i class="fa fa-dashboard"></i> Bills</b>
            </h5>
        </header>
        <div class="w3-row-padding w3-margin-bottom">
            Your bills are
        <table class="w3-table-all">
            <thead>
            <th>Sno</th>
            <th>Year</th>
            <th>Month</th>
            <th>Units kWh</th>
            <th>Amount ₹</th>
            <th>Paid</th>
            </thead>
            <tbody>
            {% for bill in bills %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ bill.year }}</td>
            <td>{{ bill.month }}</td>
            <td>{{ bill.power_consumption }}</td>
            <td>{{ bill.bill_amount }}</td>
            <td>{{ bill.paid }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
        <!-- Footer -->

    {% endblock %}
    <!-- End page content -->
</div>
</body>
</html>

