{% extends 'consumer/home.html' %}
{% block content %}
    <!-- Header -->
    <header class="w3-container" style="padding-top: 30px">
        <h5>
            <b><i class="fa fa-dashboard"></i> Data</b>
        </h5>
    </header>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-row-padding w3-margin-bottom">
            Today's readings are
            <br>
            <table class="w3-table-all">
                <thead>
                <th>Sno</th>
                <th>Voltage V</th>
                <th>Current I</th>
                <th>Power Factor</th>
                <th>Power Consumed kWh</th>
                </thead>
                <tbody>
                {% for data in within_a_day_wise_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.average_voltage }}</td>
                        <td>{{ data.average_current }}</td>
                        <td>{{ data.average_power_factor }}</td>
                        <td>{{ data.power_consumed }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>
    <script>
        var endpoint = "http://localhost:8000/consumer_live_data_api/";
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                const labels = data.labels;
                const defaultData = data.default;
                const ctx = document.getElementById('myChart');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'current in Amps',
                            data: defaultData,

                        }]
                    },

                })
            }
        });

    </script>
    <canvas id="myChart"></canvas>
    <!-- Footer -->
{% endblock %}