{% extends 'base.html' %}

{% block content %}

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index: 4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
            <i class="fa fa-bars"></i>  Menu
        </button>
        <span class="w3-bar-item w3-left">Smart Energy Meter</span> <span class="w3-bar-item w3-right"><a
                href="/logout">Sign out</a></span>
    </div>
    <!-- Sidebar/menu -->
    {% include 'sidebar.html' %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left: 300px; margin-top: 43px;">


        <!-- Header -->
        <header class="w3-container" style="padding-top: 30px">
            <h5>
                <b><i class="fa fa-dashboard"></i> My Dashboard</b>
            </h5>
        </header>

        <div class="w3-row-padding w3-margin-bottom">
           Welcome to smart Energy meter
        </div>

        <!-- Footer -->
        

        <!-- End page content -->
    </div>


{% endblock %}