<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Energy Meter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: sans-serif
        }
    </style>
</head>

<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index: 4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
            <i class="fa fa-bars"></i>  Menu
        </button>
        <span class="w3-bar-item w3-left">Smart Energy Meter</span> <span class="w3-bar-item w3-right"><a
            href="{% url "logout" %}">Sign out</a></span>
    </div>
    <!-- Sidebar/menu -->
    {% include 'admin/sidebar.html' %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left: 300px; margin-top: 43px;">
        {% block content %}
            <!-- Header -->
            <header class="w3-container" style="padding-top: 30px">
                <h5>
                    <b><i class="fa fa-dashboard"></i> My Dashboard</b>
                </h5>
            </header>
            <div class="w3-row-padding w3-margin-bottom">
                Welcome to smart Energy meter
            </div>
            <!-- Footer -->

        {% endblock %}
    </div>
        <!-- End page content -->

    <script>
        // Get the Sidebar
        let mySidebar = document.getElementById("mySidebar");
        // Get the DIV with overlay effect
        let overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>
</body>
</html>